/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* ---- End Reset ---- */

html{
	font: 1em/1.3 Lora, Serif;
	color: #555;
}

abbr {
	text-decoration: none;
	border-bottom: 1px dotted;
}

abbr:hover {
	cursor: help;
}

#container {
	width: 960px;
	margin: 60px auto;
	background-color: #EEE;
	padding: 30px 60px;
	border: 8px solid #555;
	border-left: 0;
	border-right: 0;
}

a{
	text-decoration: none;
	border-bottom: 1px dotted #33f;
	color: #559;
	padding: 2px;
}

a:hover{
	border: none;
	color: #EEE;
	background-color: #555;
}

em{ font-style: italic; }

/*-----------  Header -----------*/

header h1{
	font-style: italic;
	font-weight: bold;
	font-size: 56px;
}

header h2, #contact-info{
	color: #555;
}

#contact-info{
	width: 245px;
	position: relative;
	left: 700px;
	bottom: 77px;
}

#contact-info dt, #contact-info dd{
	display: inline;
}

#contact-info dt {
	width: 80px;
	display: inline-block;
	text-align: left;
}

#contact-info dt:after{
	content: ": ";
}


#resume{
	margin-top: 1em;
}


.section-name{
	width: 155px;
	text-align: right;
}

.section-details{
	position: relative;
	bottom: 30px; /* .section-details dt font-size below */
	left: 210px;
	width: 700px;
	margin-bottom: 20px;
}

.section-details dt, .section-name{
	font-size: 30px;
	font-family: Lora, serif;
	font-style: italic;
	font-weight: bold;
}

#skills dd, #software-skills, ul{
	line-height: 1.4em; 
} 


#work-experience{
	bottom: 60px; /* = 2* .section-details dt font-size above */
}
#distinctions{
	bottom: 90px;	
}
.position { margin-bottom: 2.5em; }
.time-period {
	position: relative;
	bottom: 1em;
	text-align: right;
}
.time-period, .company{
	color: #999;
	margin-top: 3px;
}

.position ul{
	list-style: disc outside;
	margin-left: 20px;
}

#skills dl{
	float: left;
	display: inline;
	width: 340px;
	margin-left: 20px;
}

#skills dl:first-child{	margin-left: 0; }
#skills dl:last-of-type{ margin-top: 0.9em; }
#skills dd{
	background: url(../img/resume-bullet.gif) no-repeat 0 8px;
	padding-left: 20px;
}

.printonly, #contact-info .printonly {display: none;}

#print-message{
	width: 100%;
	font-family: sans-serif;
	text-align: center;
	background-color: #555;
	color: #999;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

#print-message a{ color: orange; }
#print-message a:hover {
	border-bottom: 1px dotted orange;
}

li li {
	list-style-type: circle;
}